{% extends 'layout.njk' %}

{% block content %}
<form action="/admin/recipes" method="post">
    <div class="formHeader">
        <h1>Criando receita</h1>
        <button type="submit">Salvar receita</button>
    </div>
    <div class="item">
        <div>Título da receita</div>
        <div>
            <input type="text" name="title">
        </div>
    </div>
    <div class="item">
        <div>Autor</div>
        <div>
            <input type="text" name="author">
        </div>
    </div>
    <div class="item">
        <div>Imagem da receita</div>
        <div>
            <input type="url" name="image">
        </div>
    </div>
    <div class="item">
        <div>Ingredientes</div>
        <div id="ingredients">
            <div class="ingredient">
                <input type="text" name="ingredients[]">
            </div>
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>
    <div class="item">
        <div>Modo de preparo</div>
        <div id="steps">
            <div class="step">
                <input type="text" name="steps[]">
            </div>
        </div>
        <button type="button" class="add-step">Adicionar novo passo</button>
    </div>
    <div class="item">
        <div>Informações adicionais</div>
        <div>
            <textarea name="information" cols="30" rows="30"></textarea>
        </div>
    </div>
</form>
{% endblock content %}
