{% extends 'layout.njk' %}

{% block content %}
<div id="editForm">
    <h1>Editando receita</h1>
    <form class="form-delete" action="/admin/recipes?_method=delete" method="post">
        <button type="submit">Deletar</button>
        <input type="hidden" name="id" value="{{ recipe.id }}">
    </form>
    <form class="form-edit" action="/admin/recipes?_method=put" method="post">
        <button type="submit">Salvar receita</button>
        <input type="hidden" name="id" value="{{ recipe.id }}">
        {% include 'admin/fields.njk' %}
    </form>
</div>



{% endblock content %}
