<div class="item">
    <div>Título da receita</div>
    <div>
        <input type="text" name="title" value="{{ recipe.title }}">
    </div>
</div>
<div class="item">
    <div>Autor</div>
    <div>
        <input type="text" name="author" value="{{ recipe.author }}">
    </div>
</div>
<div class="item">
    <div>Imagem da receita</div>
    <div>
        <input type="url" name="image" value="{{ recipe.image }}">
    </div>
</div>
<div class="item">
    <div>Ingredientes</div>
    <div id="ingredients">
        {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ ingredient }}">
        </div>
        {% endfor %}
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>
<div class="item">
    <div>Modo de preparo</div>
    <div id="steps">
        {% for step in recipe.steps %}
        <div class="step">
            <input type="text" name="steps[]" value="{{ step }}">
        </div>
        {% endfor %}
    </div>
    <button type="button" class="add-step">Adicionar novo passo</button>
</div>
<div class="item">
    <div>Informações adicionais</div>
    <div>
        <textarea name="information" cols="30" rows="30">{{ recipe.information }}</textarea>
    </div>
</div>