<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="{{images.logo}}" alt="Logo Foodfy">
                </a>
            </div>
            <div class="menu">
                <a href="/about"><strong>Sobre</strong></a>
                <a href="/recipes">Receitas</a>
            </div>
        </nav>
    </header>


    <section class="ab">
        <article class="about">
            <div class="about_title" id="foodfy_title">
                <h1>Sobre o Foodfy</h1>
            </div>
            <div class="about_description">
                <p>
                    Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel
                    lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada
                    facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa.
                    Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis,
                    non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.
                    <br><br>
                    Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin ligula
                    lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et
                    posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate
                    semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
                </p>
            </div>
        </article>
        <article class="about">
            <div class="about_title">
                <h1>Como tudo começou…</h1>
            </div>
            <div class="about_description">
                <p>
                    Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel
                    lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada
                    facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa.
                    Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis,
                    non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.
                    <br><br>
                    Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin ligula
                    lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et
                    posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate
                    semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
                </p>
            </div>
        </article>
        <article class="about">
            <div class="about_title">
                <h1>Nossas receitas</h1>
            </div>
            <div class="about_description">
                <p>
                    Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin ligula
                    lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer in tincidunt arcu, et
                    posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate
                    semper orci et, malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
                </p>
            </div>
        </article>
    </section>

    <footer id="footer_about">
        <div class="copyright">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>
</body>
</html>