@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 940px;
}

header nav {
    margin-top: 36.1px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline;
}

.logo a{
    text-decoration: none;
}

.menu a{
    font-size: 16px;
    line-height: 19px;
    color: #111111;
    margin-right: 30px;
    text-decoration: none;
}

.menu a.active{
    font-weight: bold;
}

.menu a:last-child{
    margin-right: 0;
}

.searchRecipes{
    display: grid;
    grid-template-columns: 246px 1fr;
    column-gap: 8px;
    padding: 0;
}

.searchRecipes > input{
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    padding: 11px 15px;
    outline: none;
    color: #999999;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
}

.rectangle{
    background-color: #FBDFDB;
    border-radius: 30px;
    position: relative;
    height: 366px;
    width: 940px;
    margin-bottom: 50px;
}

.welcome{
    top: 117px;
    left: 60px;
    position: absolute;
}

.title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #111111;
    margin-bottom: 10px;
}

.subtitle p{
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    max-width: 316px;
}

.chef img{
    bottom: 0;
    right: 100px;
    position: absolute;
}

.most_accessed_title h1{
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #111111;
}
.recipes{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
}

.recipe_link{
    text-decoration: none;
}

.recipe_image img{
    border-radius: 15px;
    width: 300px;
    height: 140px;
    object-fit: cover;
}
.recipe_title{
    margin-top: 20px;
    margin-bottom: 5px;
}
.recipe_title h1{
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    font-weight: normal;
}

.recipe_author p{
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}
.copyright{
    margin-top: 50px;
    background-color: #EEEEEE;
    height: 62px;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.copyright p{
    margin-top: 23px;
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    text-align: center;
}

.ab{
    margin-top: 50px;
}
.about{
    margin-bottom: 30px;
}
.about_title{
    margin-bottom: 20px;
}
.about_title h1{
    font-size: 20px;
    line-height: 24px;
    color: #111111;
}
#foodfy_title h1{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #111111;
}
.about_description{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}
#footer_about .copyright{
    margin-top: 20px;
}

/*=== MODAL ===*/
.modal_overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
    opacity: 0;
}
.modal{
    width: 660px;
    height: 413px;
    background: #FFFFFF;
    border-radius: 16px;
    position: relative;
    top: 31.6%;
    left: 26.4%;
    text-align: center;
}
.modal_image img{
    width: 600px;
    height: 200px;
    margin: 30px 30px 20px 30px;
    border-radius: 15px;

}
.modal_title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    text-align: center;
    margin-bottom: 5px;
}
.modal_author p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #777777;
    margin-bottom: 60px;
}
.modal a{
    cursor: pointer;
}

.modal_overlay.active{
    visibility: visible;
    opacity: 1;
}

.image_recipe{
    width: 940px;
    height: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image_recipe img{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.detail_title{
    text-align: center;
    margin-bottom: 50px;
}
.detail_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    margin-bottom: 4px;
}

.detail_title p{
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

.detail_sub {
    margin-bottom: 20px;
    position: relative;
    
}

.sub_title{
    display: inline;
    margin-right: 8px;
}

.sub_title h1{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    color: #111111;
    display: inline;
}

.sub_button{
    display: inline;
    cursor: pointer;
}

.sub_button a{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #999999;
}

.detail_description p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.detail_description ul {
    margin-left: 20px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.detail_description.active{
    visibility: collapse;
    opacity: 0;
    height: 0;
}

/* admin */
.bodyAdmin{
    max-width: 940px;
}

.headerAdmin{
    background-color: #111111;
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.headerAdmin > div{
    max-width: 940px;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerAdmin > div a:nth-child(2){
    margin-left: 50px;
    margin-right: 30px;
}

.headerAdmin > div a{
    text-decoration: none;
    font-weight: bold;
    color: #999999;
    font-size: 15px;
    line-height: 18px;
}

.headerAdmin > div a.active{
    color: #FFFFFF;
}


/*form*/
form{
    padding: 130px 0;
}

.formHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.formHeader h1,
#editForm h1{
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    font-weight: bold;
}

button[type='submit'],
#detailsRecipe a,
#table-container .formHeader a{
    background: #6558C3;
    padding: 9px 20px;
    border-radius: 4px; 
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: right;
    cursor: pointer;
}

.item{
    margin-bottom: 30px;
}

.item div:first-child,
.item .ingredient,
.item .step{
    font-size: 16px;
    line-height: 19px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 10px;
}

#ingredients,
#steps{
    margin-bottom: 5px;
}

.add-ingredient,
.add-step{
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #6558C3;
    background: none;
    text-align: right;
    cursor: pointer;
}

.item div:nth-child(2) input, 
.item div:nth-child(2) textarea,
.item div:nth-child(2) select{
    width: 100%;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    outline: none;
    padding: 0 16px;
    resize: none;
    box-sizing: border-box;
}

.item div:nth-child(2) select option{
    font-size: 18px;
}

.item div:nth-child(2) textarea{
    padding: 16px 16px;
    height: 257px;
}

#editForm{
    margin: 130px 0;
    position: relative;
}

#editForm h1{
    display: inline-block;
    margin-bottom: 50px;
    padding: 4.5px 0;
}

.form-edit,
.form-delete{
    padding: 0;
    display: inline;
}

.form-delete button[type='submit']{
    background: #DC4747;
    position: absolute;
    right: 130px;
}

.form-edit button[type='submit']{
    position: absolute;
    right: 0;
}

#delete-button-recipe{
    right: 148px;
}

/* show */
#detailsRecipe{
    margin-top: 130px;
}

#detailsRecipeAdmin ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0.8em;
    position: relative;
}

#detailsRecipeAdmin ul li:before{
    content: "-";
    left: 0;
    position: absolute;
}

#detailsRecipe a{
    text-decoration: none;
}

#detailsRecipe .image_recipe{
    margin-top: -6px;
}

/* index */
#table-container{
    margin-top: 135px;
}

#table-container h1{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #111111;
}

#container-recipes{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    width: 940px;
}

.recipe-index{
    display: grid;
    grid-template-columns: 172px 1fr;
    column-gap: 20px;
    max-height: 80px;
}
.recipe-index-image{
    height: 80px;
    
}

.recipe-index-image img{
    width: 100%;
    height: 100%;
    border-radius: 8.57px;
    object-fit: cover;
}

.recipe-index-title{
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 5px;
}

.recipe-index-author{
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.recipe-index-content a,
.chef-index-content a{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #6558C3;
    text-decoration: none;
}

#table-container .formHeader a{
    text-decoration: none;
}

/* chef */
.image_chef{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 30px;
}

.image_chef img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
}

.chef_name,
.chef_total{
    text-align: center;
}

.chef_name{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    margin-bottom: 4px;
}

.chef_total{
    color: #777777;
    font-size: 20px;
    line-height: 24px;
}

#table-container-chef{
    margin-top: 50px;
}

/* chef index*/
#container-chefs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;
}

.chef-index{
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 20px;
    align-items: center;
}

.chef-index-image{
    width: 64px;
    height: 64px;
}

.chef-index-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chef-index-name{
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 10px;
}

.chef-index-total{
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}
