{% extends "layoutClient.njk" %}

{% block content %}
<section class="start">
    <div class="image_recipe">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
    </div>
</section>

<section>
    <div class="detail_title">
        <h1>{{recipe.title}}</h1>
        <p>por {{recipe.chef_name}}</p>
    </div>
    <article class="about">
        <div class="detail_sub">
            <div class="sub_title">
                <h1>Ingredientes</h1>
            </div>
            <div class="sub_button">
                <a>ESCONDER</a>
            </div>
        </div>
        <div class="detail_description">
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
    </article>
    <article class="about">
        <div class="detail_sub">
            <div class="sub_title">
                <h1>Modo de preparo</h1>
            </div>
            <div class="sub_button">
                <a>ESCONDER</a>
            </div>
        </div>
        <div class="detail_description">
            <ul>
                {% for step in recipe.preparation %}
                <li>{{step}}</li>
                {% endfor %}
            </ul>
        </div>
    </article>
    <article class="about">
        <div class="detail_sub">
            <div class="sub_title">
                <h1>Informações adicionais</h1>
            </div>
            <div class="sub_button">
                <a>ESCONDER</a>
            </div>
        </div>
        <div class="detail_description">
            <p>{{recipe.information}}</p>
        </div>
    </article>
</section>
{% endblock content %}