{% extends "layoutClient.njk" %}

{% block content %}
<section class="most_accessed">
    <div class="most_accessed_title">
        <h1>Receitas</h1>
    </div>
    <div class="recipes">
        {% for recipe in recipes %}
        <a href="/recipes/{{recipe.id}}" class="recipe_link">
        <article class="recipe">
            <div class="recipe_image">
                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            </div>
            <div class="recipe_title">
                <h1>{{recipe.title}}</h1>
            </div>
            <div class="recipe_author">
                <p>por {{recipe.chef_name}}</p>
            </div>
        </article>
        </a>
        {% endfor %}            
    </div>
</section>
{% endblock content %}

